body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #8b4513;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-top: 0;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 960px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#quartos {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    width: 100%; 
    margin: 20px auto; 
}

#lista-quartos {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
    width: 100%; 
}

.quarto {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    flex: 1 0 250px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#quartos h2 { 
    color: #8b4513;
    width: 100%; 
    text-align: center;
    margin-bottom: 20px; 
}

.quarto img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
    margin-bottom: 10px;
}
.quarto:hover {
    transform: translateY(-5px);
}

.btn-agendar {
    background-color: #8b4513;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    align-self: flex-end;
}

.btn-agendar:hover {
    background-color: #582c0c;
}

.quarto p {
    margin-bottom: 20px;
}

.quarto ul {
    list-style: disc;
    padding-left: 20px;
}

@media (max-width: 768px) {
    #quartos {
        width: 90%; 
    }

    #lista-quartos {
        flex-direction: column; 
        align-items: center; 
    }

    .quarto {
        width: 90%;
        height: auto;
        margin-bottom: 20px;
    }

    #quartos {
        padding: 0 10px; 
    }

    .quarto img {
        max-height: 150px; 
    }
}